<nav class="navbar navbar-light bg-light">
  <h1> All Questions: <%= @questions.count %></h1>
</nav>

<div>
  <%= link_to 'Ask a new question', new_question_path, :class => "btn btn-success" %>
</div>
<br>
<div class="card">
  <div class="card-body">
    <% @questions.each do |question|%>
  </div>
</div>
<br>

<h2><%= link_to(question.content.capitalize, question_path(question.id) )%></h2>
<small> Asked by: <%= question.user.email  %> </small>

<div>
  <b> Replies: <%= question.answers.count %> </b>
</div>

<p>
  <%= link_to "Delete", question, method: :delete,  :class => "btn btn-danger"%>
</p>
<hr>
<% end %>
