<div class="alert alert-warning" role="alert">
  <h2> Question: <%= @question.content %> </h2>
  <b> Asked by <%= @question.user.email %>  <%= time_ago_in_words(@question.created_at) %> ago <b>
</div>

<br/>
  <button type="button" class="btn btn-success">
  <h4> Total Answers: <%= @question.answers.count %></h4>
</button>
<br/>
<br/>

<div>
  <h5> <%= render @question.answers %></h5>
</div>

<%= render 'answers/form' %>
<p> <%= link_to 'Back to all questions', questions_path %> <p>

